@import url("http://fonts.googleapis.com/css?family=Snippet|Arvo|Source+Code+Pro:400,600&subset=latin,latin-ext") 
@import "font-awesome/font-awesome.css"
@import "github.css"

background-color = white
blue = #5f8dd3
dark-blue = darken(blue, 30)
font-size = 16px
font-headline = 'Arvo', serif
font-code = 'Source Code Pro', monospace
font-text = 'Snippet', sans-serif

sidebar-background = #E6E6E6
sidebar-width = 15em

h1, h2, h3, h4, h5, h6, p, blockquote, body
  margin 0
  margin-bottom 1em
  padding 0


body
  font-family font-text
  font-size font-size
  display table
  background-color background-color

  p
    line-height 2em

  a
    color blue
    text-decoration none

  a:visited
    color bark-blue


  h1, h2, h3, h4, .subheadline
    font-family font-headline
    color blue

  h1, h2, h3, h4
    text-shadow: 1px 1px 1px dark-blue

  h1
    margin-top 1em

  pre, code
    font-family font-code

  .main
    display table-row
    .sidebar
      height 80em
      display table-cell
      padding 2em
      width sidebar-width
      background-color sidebar-background
      box-shadow inset -10px 0 30px -15px gray
      h1
        display none
      .subheadline, i, a
        text-shadow 1px 1px white
      ul
        list-style none
        padding 0
        li
          border 1px solid lightgray
          width 10em
          margin-bottom 0.5em
          margin-left -2em
          padding-left 2em
          box-shadow inset 1px 1px white
          border-radius: 5px;
          &:hover
            box-shadow inset 1px 1px white, 1px 1px 1px gray
      .fixed-inner
        position fixed
        width sidebar-width - 5em
        font-size 1.5em
        line-height 1.5em
  
    .content
      display table-cell
      background-color white
      max-width 50em
      padding 2em
      article
        margin-bottom 2em
      .tags
        display table-row
        list-style none
        .index
          padding-left 0
        .tag
          display table-cell
          padding-right 1em
            
  .back, .read-more
    padding 0.5em
    border 1px solid lightgray
    background-color lighten(lightgray, 6)
    box-shadow inset 1px 1px white
    border-radius 5px
    text-shadow 1px 1px white
    &:hover
      box-shadow inset 1px 1px white, 1px 1px 1px lightgray

        
  .footer
    background-color sidebar-background
    border-radius 5px
    margin-top 2em
    padding 1em
    .me
      float left
      border 5px solid white
      border-bottom 20px solid white
      box-shadow 1px 1px 5px black
    #aboutme
      margin-left 10em
      .social-links
        font-size 2em
      .social-links, h2
        text-shadow: 1px 1px 1px white

